body{
    padding: 0;
    margin: 0;
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 76%;
    line-height: 1.3em;
    background: #0C3A6D;
    color: #333333;
}


/* useful */

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/*admin menu*/
.admin-menu ul li{
    float: left;
    background: #0C3A6D;
    border-radius: 7px;
    margin-right: 10px;
}

.admin-menu{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}

.admin-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.admin-menu ul li a{
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

/*header*/
header{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-top: 20px;
}

header h1{
    margin:0;
    padding:0;
    text-align: center;
}

/*content*/
.container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding-bottom: 50px;
}

.inner-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCCCCC;
    padding: 20px;
    border-radius: 7px;
    background: #e8edff;
}

.popup-box{
    padding: 20px;
    background: #e8edff;
    border-radius: 7px;
}

table{
    border-collapse: collapse;
}

table th{
    background: #0C3A6D;
    color: white;
    padding: 8px;
    text-align: left;
}

/*footer*/
footer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    padding-bottom: 20px;
}

/*jqgrid editing*/
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
border-left: 0 none;
background: #0C3A6D;
color: white;
padding-bottom: 11px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
overflow: hidden;
position: relative;
height: 20px;
padding-top: 5px;
}

.ui-jqgrid .ui-pg-input {
height: 16px;
font-size: .8em;
margin: 0;
}
