body{
    padding: 0;
    margin: 0;
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 76%;
    line-height: 1.3em;
    background: #0C3A6D;
    color: #333333;
}

/*header*/
header{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-top: 20px;
}

header h1{
    margin:0;
    padding:0;
    text-align: center;
}

/*content*/
.container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
}


.container .nav{
    float: left;
    width: 200px;
}

.nav-inner{
    padding: 10px;
}

.nav-inner ul{
    list-style-type: none;
    padding: 0px;
}

.nav-inner ul li a{
    text-decoration: none;
    color: #135cae;
}

.nav-inner ul li a:hover{
    text-decoration: underline;
    color: #0b3768;
}

.content{
    float: left;
    width: 700px;
    
}

.filter-holder{
    font-size: 15px;
    margin-bottom: 10px;
}

.filter-holder span{
    font-weight: bold;
}

table.home-list , table.admin-list , table.category-list{
    font-size: 13px;
}

table.home-list th , table.admin-list th , table.category-list th{
    text-align: left;
}
table.home-list thead tr , table.admin-list  thead tr , table.category-list thead tr{
    background: #135CAE;
    color: white;
}

table.home-list tbody tr , table.admin-list tbody tr , table.category-list tbody tr{
    background: #D6D6D6
}

table.home-list a , table.admin-list a , table.category-list a{
    text-decoration: none;
    color: #135cae;
}

table.home-list a:hover{
    text-decoration: underline;
    color: #0b3768;
}

table.admin-list a:hover{
    text-decoration: underline;
    color: #0b3768;
}

table.category-list a:hover{
    text-decoration: underline;
    color: #0b3768;
}

table.admin-list{
    width: 100%;
}

table.view-contact{
    font-weight: bold;
    font-size: 13px;
}

.admin-form-holder{
    font-size: 13px;
}

.admin-form-holder input{
    font-size: 11px;
}

.admin-form-container{
    width: 90%;
margin-left: auto;
margin-right: auto;
border: 1px solid #CCCCCC;
padding: 10px;
border-radius: 7px;
}

.clear{
    clear: both;
}

/*footer*/
footer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    padding-bottom: 20px;
}
